#header{
    width: 100vw;
    height: 125px;
    background-color: black;
    position: absolute;
    top: 0px;
}

#logo_header{
    width: 100px;
    height: 100px;
}

.header_spacer{
    height: 15px;
}

.header_flex{
    display: inline-flex;
    align-items: center;
}

p.header{
    color: white;
}

#margin_header_spacer{
    width: 45px;
}

div.vertical_spacer{
    width: 20px;
}

.navbar{
    width: 100vw;
    height: 30px;
    background-color: gray;
    top: 0px;
    display: flex;
    align-content: center; 
}

.pnavbar{
    height: 80%;
    margin: 6px 15px 0px 15px;
}