/*@import url("https://fonts.googleapis.com/css?family=Exo+2");*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Exo:ital,wght@1,900&display=swap");

body {
  font-family: "Exo 2", sans-serif;
  font-size: 100%;
  margin: 0px;
  background-color: #EDF2F7;
}

#navbar{
    border: 0px 100px;
}

#header{
    width: 100vw;
    height: 125px;
    position: fixed;
    top: 0px;
}

#logo_header{
    width: 50px;
    height: 50px;
    padding-left: 20vw;
}

.header_spacer{
    height: 15px;
    background-color: #000;
}

.header_flex{
    display: inline-flex;
    align-items: center;
    background-color: #000;
}

p.header{
    color: white;
    font-family: 'Exo', oblique;
    font-size: 40px; 
    margin: 7px 0px 0px 0px;
    font-weight: 900;
}

#margin_header_spacer{
    width: 45px;
}

div.vertical_spacer{
    width: 20px;
}

div.navbar{
    width: 100vw;
    height: 40px;
    background-color: #A24ACA;
    display: flex;
    align-content: center; 
    align-items: cente
}

#nav_spacer{
    height: 155px;
}

.navbar{
    display: flex;
    padding-left: 20vw;
}

.division{
    width: 120px;
    height: 40px;
}

.cubo{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition:  all 0.5s ease-out;
    transform-origin: 0 0;
}

.division:hover .cubo{
    transform: rotateY(-90deg);
    cursor: pointer;
}

.cara{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 00;
}

.delante{
    transform: rotateY(0deg);
    background-color: #A24ACA;
    line-height: 240%;
    text-align: center;
    height: 100%;
}

.derecha {
    transform: rotateY(90deg);
    left: 80px;
    background-color: #D881F4;
    text-align: center;
}

.texto{
    position: absolute;
    top: 30px;
    left: 27%;
    color: #393e46;
    font-family: sans-serif;
}

.imagen{
    height: 98%;
    width: auto;
    position: absolute;
    top: 1%;
    left: 30%;
}

#header_flex_general{
    display: flex;
    justify-content: space-between;
}

#language_header{
    height: 25px;
}

.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 0.5em 0em 0.5em 0.5em;
    background-color: #A24ACA;
    text-decoration: none;
    color: #FFF;
}
.menuCSS3 a:hover {
    background-color: #D881F4;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li div:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
    position: fixed;
}

div.language{
    height: inherit;
    width: 100px;
}

img.language{
    height: 12px;
    margin: 0px 0px 0px 0.5em;
}

div.navbar_horizontal_divider{
    height: 20px;
    width: auto;
    background-color: #000;
}

#logo_header_hid{
    height: 30px;
    visibility: hidden;
}

.visible_nav{
    display: flex;
    align-content: space-between;
}

#language_div_hid{
    background-color: #A24ACA;
    padding-right: 20vw
}

.su{
    padding: 200px 20vw 0vw 20vw; 
}

.pnavbar{
    color: white;
}

.first_level{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.first_level_container_type1{
    height: 100%;
    width: 50%;
    text-align: justify;
    border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a.black:link {
  text-decoration: none;
  color: black;
}

a.black:visited {
  text-decoration: none;
}

a.black:hover {
  text-decoration: none;
}

a.black:active {
  text-decoration: none;
}

.funciones_button a:link {
    text-decoration: none;
    color: #EDF2F7;
    margin: 20px;
    height: 50px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #A24ACA;
    border-radius: 20px;
    background-color: #A24ACA;
}

.funciones_button a:visited {
  text-decoration: none;
  color: #EDF2F7;
}

.funciones_button a:hover {
  text-decoration: none;
  color: #A24ACA;
  background-color: #EDF2F7;
}

.funciones_button a:active {
  text-decoration: underline;
}

footer{
    background-color: #610C7D;
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 0px 20vw;
}

div.redes_sociales{
    display: flex;
    justify-content: space-around;
    background-color: #EDF2F7;
}

div.rrss_logo_container{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px;
}

img.rrss{
    height: inherit;
    border-radius: 50%;
}

div.columna_footer{
    width: 30%;
    color: white;
    text-align: center;
}

div.columna_footer p{
    margin: 10px 0px 0px 0px;
}

div.cc{
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 43px;
    padding: 0px 35vw;
    color: white;
    font-size: 13
}

div.second_level{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-auto-rows: 300px;
    grid-column-gap: 3%;
    grid-row-gap: 2%;
    margin-bottom: 20;
    /*border: solid;*/
    margin-bottom: 25vh;
}

div.celda1{
    height: auto;
    width: auto;
    grid-row: 1/3;
    background-color: #481380;
    padding-bottom: 20px;
    border-radius: 20px;
    color: white;
}

div.celda2{
    height: auto;
    width: auto;
    background-color: #481380;
    grid-row: 1/2;
    border-radius: 20px;
    color: white;
}

div.celda3{
    height: auto;
    width: auto;
    background-color: #7f78d2;
    grid-row: 3/4;
    border-radius: 20px;
}

div.celda4{
    height: auto;
    width: auto;
    grid-row: 2/4;
    background-color: #7f78d2;
    padding-bottom: 20px;
    border-radius: 20px;
    color: white;
}

div.celda5{
    height: auto;
    width: auto;
    grid-row: 4/6;
    background-color: #efb1ff;
    padding-bottom: 20px;
    border-radius: 20px;
}

div.celda6{
    height: auto;
    width: auto;
    background-color: #efb1ff;
    grid-row: 4/5;
    border-radius: 20px;
}

div.celda7{
    height: auto;
    width: auto;
    grid-row: 6/7;
    background-color: black;
    border-radius: 20px;
}

div.celda8{
    height: auto;
    width: auto;
    grid-row: 5/7;
    background-color: #cff1ef;
    padding-bottom: 20px;
    border-radius: 20px;
}

p.titulo_funciones{
    color: black; 
    font-size: 40; 
    font-family: Exo 2; 
    margin: 20px 20px 0px 20px; 
    font-weight: 100;
    text-align: center;
}

p.functions_text{
    margin: 20px 40px 0px 40px;
}

div.third_level{
    width: 100%;
    height: auto;
}

div.downloads{
    background-color: #fbcffc;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
    border-radius: 20px;
}

div.download_logo{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.download_logo img{
    height: 80%;
    width: 70%;
}

div.download_description{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.download_links{
    width: 33%;
    height: auto;
    padding-left: 2%;
    background-color: #A24ACA;
    display: flex;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

div.download_links img{
    width: 180px;
    height: auto;
    margin: 10px;
}

div.business{
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 20px;
}

div.business_image{
    margin: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto
}

div.business_image img{
    width: 100%; 
    box-shadow: 10px 10px 10px 1px rgba(0,0,0,0.5); 
    border-radius: 10px;
}

div.bussines_text {
    width: 40%;
}

div.animacion{
    visibility: hidden;
    z-index: 200;
    animation: mymove 5s 1;
    
} 

img.animation{
    visibility: hidden;
    z-index: 201;
    animation: mymove2 5s 1;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 30vh;
    left: 45vw;
}

div.loading{
    background-color: white;
    visibility: hidden;
    z-index: 201;
    animation: mymove3 4.7s 1;
    width: 200px;
    height: 20px;
    position: fixed;
    top: 71vh;
    left: 38vw;
    border-radius: 10px;
}

div.texto{
    color: white;
    font-family: Exo;
    visibility: hidden;
    z-index: 201;
    animation: mymove2 5s 1;
    width: auto;
    height: 20px;
    position: fixed;
}

div.forth_level{
    width: 100%;
    height: auto;
}

div.information{
    display: flex;
    align-content: space-between;
}

div.job{
    width: 100%;
    background-color: #A24ACA;
    display: flex;
    align-content: space-between;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.submit{
    font-family: Exo;
    font-weight: 100;
    font-size: 20px;
    color: #EDF2F7;
    margin: 20px;
    height: 50px;
    width: 270px;
    border: solid #A24ACA;
    border-radius: 20px;
    background-color: #A24ACA;
}

#email{
    font-family: "Exo 2";
    margin: 10px 0px;
    height: 30px;
    width: 300px;
    padding: 10px;
    color: gray;
    border-radius: 10px;
    border: solid lightgray
}

#commentario{
    font-family: "Exo 2";
    margin: 10px 0px;
    height: 200px;
    width: 50%;
    padding: 10px;
    color: gray;
    border-radius: 10px;
    border: solid lightgray;
}

@keyframes mymove {
    0%{
        width: 100vw;
        height: 100vw;
        background: #A24ACA;
        position: fixed;
        top: 0px;
        left: 0px;
        visibility: visible;
    }
    
    100%{
        width: 100vw;
        height: 100vw;
        background: #A24ACA;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 200;
        visibility: visible;
    }
}

@keyframes mymove2 {
    0%{
        visibility: visible;
    }
    
    100%{
        visibility: visible;
    }
}

@keyframes mymove3 {
    0%{
        visibility: visible;
        width: 0px;
    }
    
    100%{
        visibility: visible;
        width: 400px;
    }
}


























/*@media(max-width: 1500px){
    .su{
        display: block;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .first_level{
        display: block;
        height: auto;
        justify-content: center;
    }
    .first_level_container_type1 {
        width: 90vw;
        box-sizing: border-box;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 20px;
    }
    
    .funciones_button{
        position: relative;
        left: 25%
    }
    
    div.second_level{
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 600%;
    }
    
    div.celda1{
        height: auto;
        width: auto;
        background-color: aqua;
        grid-row: 1/2;
        border-radius: 20px;
    }

    div.celda2{
        height: auto;
        width: auto;
        background-color: blue;
        grid-row: 2/3;
        border-radius: 20px;
    }

    div.celda3{
        height: auto;
        width: auto;
        background-color: blue;
        grid-row: 4/5;
        border-radius: 20px;
    }

    div.celda4{
        height: auto;
        width: auto;
        grid-row: 3/4;
        background-color: aqua;
        padding-bottom: 20px;
        border-radius: 20px;
    }

    div.celda5{
        height: auto;
        width: auto;
        grid-row: 5/6;
        background-color: aqua;
        padding-bottom: 20px;
        border-radius: 20px;
    }

    div.celda6{
        height: auto;
        width: auto;
        background-color: blue;
        grid-row: 6/7;
        border-radius: 20px;
    }

    div.celda7{
        height: auto;
        width: auto;
        background-color: blue;
        grid-row: 8/9;
        border-radius: 20px;
    }

    div.celda8{
        height: auto;
        width: auto;
        grid-row: 7/8;
        background-color: aqua;
        padding-bottom: 20px;
        border-radius: 20px;
    }
}*/