/*@import url("https://fonts.googleapis.com/css?family=Exo+2");*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Exo:ital,wght@1,900&display=swap");

body {
  font-family: "Exo 2", sans-serif;
  font-size: 100%;
  margin: 0px;
  background-color: #EDF2F7;
}

#navbar{
    border: 0px 100px;
}

#header{
    width: 100vw;
    height: 125px;
    position: fixed;
    top: 0px;
}

#logo_header{
    width: 50px;
    height: 50px;
    padding-left: 20vw;
}

.header_spacer{
    height: 15px;
    background-color: #000;
}

.header_flex{
    display: inline-flex;
    align-items: center;
    background-color: #000;
}

p.header{
    color: white;
    font-family: 'Exo', oblique;
    font-size: 40px; 
    margin: 7px 0px 0px 0px;
    font-weight: 900;
}

#margin_header_spacer{
    width: 45px;
}

div.vertical_spacer{
    width: 20px;
}

div.navbar{
    width: 100vw;
    height: 40px;
    background-color: #A24ACA;
    display: flex;
    align-content: center; 
    align-items: cente
}

#nav_spacer{
    height: 155px;
}

.navbar{
    display: flex;
    padding-left: 20vw;
}

.division{
    width: 120px;
    height: 40px;
}

.cubo{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition:  all 0.5s ease-out;
    transform-origin: 0 0;
}

.division:hover .cubo{
    transform: rotateY(-90deg);
    cursor: pointer;
}

.cara{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 00;
}

.delante{
    transform: rotateY(0deg);
    background-color: #A24ACA;
    line-height: 240%;
    text-align: center;
    height: 100%;
}

.derecha {
    transform: rotateY(90deg);
    left: 80px;
    background-color: #D881F4;
    text-align: center;
}

.texto{
    position: absolute;
    top: 30px;
    left: 27%;
    color: #393e46;
    font-family: sans-serif;
}

.imagen{
    height: 98%;
    width: auto;
    position: absolute;
    top: 1%;
    left: 30%;
}

#header_flex_general{
    display: flex;
    justify-content: space-between;
}

#language_header{
    height: 25px;
}

.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 0.5em 0em 0.5em 0.5em;
    background-color: #A24ACA;
    text-decoration: none;
    color: #FFF;
}
.menuCSS3 a:hover {
    background-color: #D881F4;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li div:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
    position: fixed;
}

div.language{
    height: inherit;
    width: 100px;
}

img.language{
    height: 12px;
    margin: 0px 0px 0px 0.5em;
}

div.navbar_horizontal_divider{
    height: 20px;
    width: auto;
    background-color: #000;
}

#logo_header_hid{
    height: 30px;
    visibility: hidden;
}

.visible_nav{
    display: flex;
    align-content: space-between;
}

#language_div_hid{
    background-color: #A24ACA;
    padding-right: 20vw
}

.su{
    padding: 200px 20vw 0vw 20vw;
    background-color: 
}

.pnavbar{
    color: white;
}

.first_level{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.first_level_container_type1{
    height: 100%;
    width: 50%;
    text-align: justify;
    border-radius: 10px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.funciones_button a:link {
    text-decoration: none;
    color: #EDF2F7;
    margin: 20px;
    height: 50px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #ABBAF4;
    border-radius: 20px;
    background-color: #A24ACA;
}

.funciones_button a:visited {
  text-decoration: none;
  color: #EDF2F7;
}

.funciones_button a:hover {
  text-decoration: none;
  color: #A24ACA;
  background-color: #EDF2F7;
}

.funciones_button a:active {
  text-decoration: underline;
}

footer{
    background-color: #610C7D;
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 0px 20vw;
}

div.redes_sociales{
    display: flex;
    justify-content: space-around;
    background-color: #EDF2F7;
}

div.rrss_logo_container{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px;
}

img.rrss{
    height: inherit;
    border-radius: 50%;
}

div.columna_footer{
    width: 30%;
    color: white;
    text-align: center;
}

div.columna_footer p{
    margin: 10px 0px 0px 0px;
}

div.cc{
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 43px;
    padding: 0px 35vw;
    color: white;
    font-size: 13
}

@media(max-width: 500px){
    .su{
        display: block;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .first_level{
        display: block;
    }
}